/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: Iosevka NFM;
    font-size: 20px; 
    /*margin: 20px;*/
    margin-right: 192px;
    margin-left: 192px;

}
#lineas_separar {
    color: red;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}



#indice {
	
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

}

#indice a {
    margin-top: -30px;
}

#rey {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;


}
#rey img {

    height: 100px;
    width: 100px;
    border-radius: 50%; 
}

#Ec_prince {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

#Icono {
   	
}

